{% extends "app/baseapp.html" %}


{% block title %}
  List Cow
{% endblock title %}
{% block titleview %}
Statictics view
  
{% endblock titleview %}


{% block view %}
<div class="stat-view">
<ul >
    <li class="field">
        <span class="title">Total Cows</span>
        <span class="value">89</span>
    </li>
    <li class="field">
        <span class="title">Jung Cows</span>
        <span class="value">56</span>
    </li>
    <li class="field">
        <span class="title">Old Cows</span>
        <span class="value">23</span>
    </li>
    <li class="field">
        <span class="title">Total Cows</span>
        <span class="value">169</span>
    </li>
</ul>   
</div>
{% endblock view %}