@import url(./config/autoload.css);


body {

    & main {

        display: flex;
    	height: calc(100vh - var(--navbar-height));
        width: 100%;

        & .cows-preview {
        
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

            & .top-area {
                height: 200px;
                width: 100%;
                display: flex;
                align-items: center;

                & > * {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}