{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock link %}

{% block title %}Home{% endblock title %}

{% block content %}

<main>
	<div class="icons-container">
		<a href="{% url 'apps:app'  'cow' 'new' 1 %}" class="btn-cows">
			<div class="icon">
				<img src="{% static 'media/icons/cow-icon.png' %}">
			</div>
			Cows
		</a>
		<a href="{% url 'apps:app'  'milk' 'new' 1 %}" class="btn-milk">
			<div class="icon">
				<img src="{% static 'media/icons/milk-icon.png' %}">
			</div>
			Milk
		</a>
		<a href="{% url 'apps:app'  'empolyees' 'new' 1 %}" class="btn-empolyees">
			<div class="icon">
				<img src="{% static 'media/icons/empolyees-icon.png' %}">
			</div>
			Empolyees
		</a>
		<a href="{% url 'apps:app'  'food' 'new' 1 %}" class="btn-food">
			<div class="icon">
				<img src="{% static 'media/icons/food-icon.png' %}">
			</div>
			Food
		</a>
		<a href="{% url 'apps:app'  'logs' 'new' 1 %}" class="btn-reports">
			<div class="icon">
				<img src="{% static 'media/icons/report-icon.png' %}">
			</div>
			Reports
		</a>
	</div>
</main>


{% endblock content %}













		
