{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'lib/fontawesome-free-6.4.0-web/css/all.min.css' %}">
        <script defer src="{% static 'lib/fontawesome-free-6.4.0-web/js/all.min.js' %}"></script>
        {% block link %}{% endblock link %}
        <title>{% block title %}{% endblock title %}|BAKARTK</title>
	</head>
    <body>

{% block header %}
{% include "header.html" %}

{% endblock header %}

    {% block content %}
    
    {% endblock content %}

    </body>
</html>